nav {
    background-color:  #17183b !important;
}

.title-container {
    background-color: #17183b !important;
    color: white;
    text-align: center;
    border-top: 1px solid white;

}

.droptop {
    z-index: 1;
    position: absolute;
    top:5px;
}
.picture-div { 
    background-color: rgb(205,206,208);
    border-top: 1px solid white;
}

.text-div {
    border-top: 1px solid white;
}

.card {
    border-radius: 10px;
}

#bio {
    font-size: 12px;
}

.about-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 28%;
    margin-bottom:auto;
}

.projects-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40%;
    margin-bottom:auto;
}

.span-div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5%;
    padding-bottom: auto;
}

.btn {
    background-color: rgb(205,206,208);
    color: black;
    border: rgb(205,206,208);
}

@media screen and (max-width: 947px) and (min-width: 768px) {
    #bio {
        font-size: 10px;
    }
    .span-div{
        padding-top:1%;
    }
}

@media screen and (max-width: 768px) {
    .span-div {
        padding-top: 0px;
    }

    #headshot {
        display: none;
    }

    .picture-div {
        display: none;
    }
    
    .about-text {
        margin-top: 0px;
        padding-top: 2%;
    }

    .projects-text {
        margin-top: 0px;
        padding-top: 2%;
    }
}